.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center
}

.li-card {
display: flex;
flex-direction: row-reverse;

}

.card {

  display: flex;
  flex-direction: row-reverse;
}